<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="{{ site.baseurl }}/static/css/reset.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/static/css/main.css" rel="stylesheet" />
    <title>{{ page.title }} - BrokenOpenApp</title>
	<meta name="viewport" content="initial-scale=1">
  </head>

  <body>



	<div id="headerwrapper">
		<div id="header">
			<h1><a href="{{ site.baseurl }}">BrokenOpenApp</a></h1>
			<ul class="menu">
				<li><a href="{{ site.baseurl }}/news.html">News</a></li>
			</ul>
		</div>
	</div>


	<div id="bodywrapper">
		<div id="body">
			{{ content }}
		</div>
	</div>


	<div id="footerwrapper">
		<div id="footer">
			&copy; <a href="http://jmbtechnology.co.uk/">JMB Technology Limited</a> 2015.
			<a href="https://twitter.com/brokenopenapp">Follow us on Twitter</a>
		</div>
	</div>

  </body>
</html>
